---
import { Image } from "astro:assets";
import LogoImage from "../../assets/images/Logo.png";
---

<div class="h-screen flex justify-center max-h-[80vh]">
  <Image
    src={LogoImage}
    alt="BeeJoySelf Logo"
    width={1000}
    height={1000}
    class="object-contain max-w-full max-h-full"
  />
</div>
