---
import MyProcuctsSection from "./MyProcuctsSection.astro";
import WhoAmiSection from "./WhoAmISection.astro";
---

<div
  class="w-[90%] bg-[var(--color-primary-theme-light-red)] mx-auto flex justify-center rounded-[0.3rem] p-8 flex-col"
>
  <div class="max-w-[70rem] mx-auto">
    <MyProcuctsSection />
    <WhoAmiSection />
  </div>
</div>
