---
import SectionHeader from "../SectionHeader.astro";
---

<div class="w-full mx-auto">
  <SectionHeader text="My products" />
  <div class="grid xl:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-4 mt-8">
    <div
      class="w-[100%] xl:col-span-1 col-start-1 row-start-1 bg-[linear-gradient(to_bottom,var(--color-gradient-red-stop-1),var(--color-gradient-red-stop-2),var(--color-gradient-red-stop-3))] h-55 rounded-[0.3rem] shadow-[2px_6px_10px_rgba(0,0,0,0.25)] flex justify-start items-end transition-transform transform hover:scale-101 hover:shadow-[2px_8px_15px_rgba(0,0,0,0.35)]"
    >
      <p
        class="text-center text-white text-3xl p-4 xl:text-left w-full drop-shadow-[0_0_10px_rgba(0,0,0,0.7)]"
      >
        Digital stickers
      </p>
    </div>
    <div
      class="w-[100%] xl:w-80 md:h-80 xl:h-55 h-55 xl:col-span-1 md:col-span-2 bg-[url('../assets/water-wallpaper.PNG')] bg-cover bg-center rounded-[0.3rem] shadow-[2px_6px_10px_rgba(0,0,0,0.25)] flex justify-start items-end transition-transform transform hover:scale-101 hover:shadow-[2px_8px_15px_rgba(0,0,0,0.35)]"
    >
      <p
        class="text-white text-3xl p-4 text-center w-full drop-shadow-[0_0_10px_rgba(0,0,0,0.7)]"
      >
        Quality wallpapers
      </p>
    </div>

    <div
      class="w-[100%] col-start-1 row-start-2 xl:col-span-1 xl:col-start-3 md:col-start-2 md:row-start-1 bg-[linear-gradient(to_bottom,var(--color-gradient-red-stop-1),var(--color-gradient-red-stop-2),var(--color-gradient-red-stop-3))] h-55 rounded-[0.3rem] shadow-[2px_6px_10px_rgba(0,0,0,0.25)] flex justify-start items-end transition-transform transform hover:scale-101 hover:shadow-[2px_8px_15px_rgba(0,0,0,0.35)]"
    >
      <p
        class="text-white text-3xl p-4 text-center xl:text-right w-full drop-shadow-[0_0_10px_rgba(0,0,0,0.7)]"
      >
        Digital planners
      </p>
    </div>
  </div>
</div>
