---
import ProductsCarousel from "./ProductsCarousel.astro";
import { carouselProducts } from "../../../lib/carouselProducts";
---

<section>
  <div
    class="max-w-7xl mx-auto flex justify-between text-2xl text-white font-normal"
  >
    <h1>WE CREATE HAND MADE QUALITY</h1>
    <h1>DIGITAL PRODUCTS FOR EVERYONE</h1>
  </div>
  <ProductsCarousel client:load products={carouselProducts} />
</section>
