---
import "../styles/global.css";
import NavBar from "../components/NavBar/NavBar.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/src/styles/global.css" />
    <meta name="generator" content={Astro.generator} />
    <script src="https://code.iconify.design/3/3.1.0/iconify.min.js"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Instrument+Serif:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <title>BeeJoySelf</title>
  </head>
  <body>
    <NavBar />
    <slot />
  </body>
</html>
