---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>BeeJoySelf</title>
  </head>
  <body class="gradient-red">
    <main class="min-h-screen max-w-screen h-[300vh] relative">
      <slot />
    </main>
  </body>
</html>
